<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbarIndex') %>
    <br>
   <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Blog TCC</h1>
        <h1 class="lead">Ops, não encontramos nehum artigo!</h1>
        <hr class="my-4">
      </div>
</body>
<%- include('../partials/footer') %>